@font-face {
    font-family: "Poppins";
    src: local("PoppinsMedium-default"), url("./Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: local("PoppinsSemiBold"), url("./Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: local("InterMedium-default"), url("./Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "InterRegular";
    src: local("InterRegular"), url("./Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "InterSemiBold";
    src: local("InterSemiBold"), url("./Inter-SemiBold.ttf") format("truetype");
}