.navigator {
    padding: 21.6px;
    display: flex;
    width: 166px;
    height: 68.987px;
    padding: 21.558px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10.779px;
    flex-shrink: 0;

    border-radius: 17.247px;
    background: var(--neutrals-8, #FCFCFD);
    box-shadow: 0px 43.11688232421875px 34.493507385253906px -25.87013053894043px rgba(15, 15, 15, 0.12);
}