.hero-buttons {
    display: inline-flex;
    width: 340px;
    height: 60px;
    margin-left: 20px;
    //border-radius: 12.4px;

    .button {
        position: relative;
        height: 60px;

        border-radius: 12.4px;

        &.black {
            width: 179px;
        }

        &.white {
            width: 138px;
            margin-left: 23px;
        }

        .background {
            position: absolute;
            height: 60px;
            border-radius: 12.412px;

            &.black {
                width: 179px;
                background: #000;
            }

            &.white {
                width: 138px;
                border: 1.5px #000;
            }
        }

        .text {
            position: absolute;
            height: 24px;
            margin-top: 18px;
            font-family: 'Poppins', sans-serif;
            line-height: 24px;
            font-size: 16.271px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.163px;
            text-transform: uppercase;
            z-index: 1;

            &.black {
                color: #FFF;
                margin-left: 29px;
                width: 120px;
            }

            &.white {
                color: #000;
                margin-left: 21px;
                width: 96px;
                text-align: left;
                vertical-align: top;
            }
        }
    }

}