.nav {
    margin-top: 16px;
    margin-left: 57.06px;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    width: 445.46px;
    height: 27px;
    gap: 53.486px;

    .text {
        width: 91px;
        height: 27px;
        color: #606060;
        font-family: Inter;
        font-size: 17.829px;
        font-style: normal;
        font-weight: 500;
        line-height: 26.743px;
        /* 150% */
        text-transform: uppercase;
    }
}