.nav {
    margin-top: 16px;
    margin-left: 57.06px;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    width: 445.46px;
    height: 27px;
    gap: 53.486px;

    .text {
        height: 27px;
        color: #606060;
        font-family: 'Inter', sans-serif;
        font-size: 17.829px;
        font-style: normal;
        font-weight: 500;
        line-height: 26.743px;
        /* 150% */
        text-transform: uppercase;

        &.item1 {
            width: 91px;
        }

        &.item2 {
            width: 95px;
        }

        &.item3 {
            width: 43px;
        }

        &.item4 {
            width: 56px;
        }
    }
}