* {
    box-sizing: border-box;
    margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

.home {
    width: 1440px;
    height: 6061px;
}

.bg {
    width: 1440px;
    height: 6061px;
    flex-shrink: 0;
    background: #F9F9F9;
}